---
---

<div class="max-w-[70ch]">
  <p class="text-lg md:text-xl text-black/70 dark:text-white/70">
    I'm Ignacio, a 19-year-old aspiring developer from <span class="text-primary-light dark:text-primary-dark">Venezuela</span>. Currently pursuing a degree in <span class="text-primary-light dark:text-primary-dark">Computer Engineering</span> at the prestigious <span class="text-primary-light dark:text-primary-dark">Universidad Católica Andrés Bello (UCAB)</span>.
  </p>

  <p class="text-lg md:text-xl text-black/70 dark:text-white/70 mt-6">
    My true passion lies in creating intuitive and engaging <span class="text-primary-light dark:text-primary-dark">digital experiences</span>. While I'm early in my professional journey, I've built a strong foundation through my <span class="text-primary-light dark:text-primary-dark">academic studies</span> and hands-on learning from <span class="text-primary-light dark:text-primary-dark">industry-leading courses</span>.
  </p>
</div> 