---
---

<div class="max-w-[75ch] space-y-8">
  <p class="text-lg md:text-xl text-black/70 dark:text-white/70 leading-loose">
    Soy <strong>Ignacio</strong>, un desarrollador aspirante de 20 años de <span class="text-primary-light dark:text-primary-dark font-medium">Venezuela</span>. Actualmente cursando una licenciatura en <span class="text-primary-light dark:text-primary-dark font-medium">Ingeniería Informática</span> en la prestigiosa <em>Universidad Católica Andrés Bello (UCAB)</em>.
  </p>

  <p class="text-lg md:text-xl text-black/70 dark:text-white/70 leading-loose">
    Mi verdadera pasión radica en desarrollar <span class="text-primary-light dark:text-primary-dark font-bold">soluciones web completas</span>, desde la interfaz de usuario hasta la lógica del servidor. Aunque estoy en los inicios de mi trayectoria profesional, he construido una base sólida a través de mis <span class="text-primary-light dark:text-primary-dark font-medium">estudios académicos</span> y el aprendizaje práctico de <span class="text-primary-light dark:text-primary-dark font-medium">cursos líderes en la industria</span>.
  </p>
</div> 