<div class="fixed inset-0 -z-10 h-full w-full">
  {/* Fondo para modo claro: Blanco minimalista con un sutil destello azul superior */}
  <div class="absolute inset-0 h-full w-full bg-white dark:opacity-0 transition-opacity duration-500">
    <div class="absolute top-0 left-1/2 -translate-x-1/2 w-[1000px] h-[400px] bg-blue-100/50 blur-[100px] rounded-full mix-blend-multiply"></div>
  </div>
  
  {/* Fondo para modo oscuro: Negro profundo con un sutil destello dorado superior */}
  <div class="absolute inset-0 h-full w-full bg-[#050505] opacity-0 dark:opacity-100 transition-opacity duration-500">
     <div class="absolute top-0 left-1/2 -translate-x-1/2 w-[1000px] h-[400px] bg-primary-dark/20 blur-[120px] rounded-full"></div>
  </div>
</div> 