---
---

<div class="fixed inset-0 -z-10 h-full w-full">
  {/* Fondo para modo claro */}
  <div class="absolute inset-0 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#C6722F_100%)] dark:opacity-0 transition-opacity"></div>
  
  {/* Fondo para modo oscuro */}
  <div class="absolute inset-0 h-full w-full opacity-0 dark:opacity-100 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#D9A22F_100%)] transition-opacity"></div>
</div> 