---
import CourseCard from './CourseCard.astro'
import Html from '../icons/Html.astro'
import Css from '../icons/Css.astro'
import JavaScript from '../icons/JavaScript.astro'
import TypeScript from '../icons/TypeScript.astro'

const COURSES = [
  {
    title: 'HTML y CSS',
    creator: '@soydalto',
    duration: '24:01',
    description: 'Inmersión completa en los fundamentos del desarrollo web moderno, enfocándose en HTML5 semántico y técnicas avanzadas de CSS para construir sitios web responsivos y accesibles.',
    image: '/course-html-css.jpg',
    liveUrl: 'https://www.youtube.com/watch?v=ELSm-G201Ls',
    codeUrl: 'https://github.com/iadev2005/Curso-HTML-CSS-Soy-Dalto',
    technologies: [
      {
        icon: Html,
        name: 'HTML'
      },
      {
        icon: Css,
        name: 'CSS'
      }
    ]
  },
  {
    title: 'JavaScript',
    creator: '@soydalto',
    duration: '27:20',
    description: 'Curso avanzado de JavaScript que cubre conceptos fundamentales, características modernas de ES6+, programación asíncrona y desarrollo de aplicaciones prácticas a través de proyectos hands-on.',
    image: '/course-js.jpg',
    liveUrl: 'https://www.youtube.com/playlist?list=PLE8uP447fYpiBqMVF1hdWl9uFeVEeXRTm',
    codeUrl: 'https://github.com/iadev2005/Curso-JS-Soy-Dalto',
    technologies: [
      {
        icon: JavaScript,
        name: 'JavaScript'
      }
    ]
  },
  {
    title: 'TypeScript',
    creator: '@midudev',
    duration: '03:16',
    description: 'Exploración profunda de TypeScript, enfocándose en seguridad de tipos, interfaces, genéricos y mejores prácticas para construir aplicaciones escalables con una experiencia de desarrollador mejorada.',
    image: '/course-ts.jpg',
    liveUrl: 'https://www.youtube.com/watch?v=fUgxxhI_bvc&list=PLbXiiIWYBP_-ysp5NroS6uU8hmX6rzwkE&pp=gAQB',
    codeUrl: 'https://github.com/iadev2005/Curso-TypeScript',
    technologies: [
      {
        icon: TypeScript,
        name: 'TypeScript'
      }
    ]
  }
]
---

<div class="flex flex-col gap-y-24">
  {
    COURSES.map(course => (
      <CourseCard {...course} />
    ))
  }
</div> 