---
interface Props {
  creator: string;
}

const { creator } = Astro.props;
---

<span class="inline-flex items-center px-3 py-1 rounded-lg bg-black/70 dark:bg-[#999999] text-white text-sm">
  {creator}
</span> 