---
import Container from './Container.astro';
---

<footer>
  <Container>
    <div class="flex justify-between items-center py-8">
      <span class="text-sm text-black/70 dark:text-white/70">
        © 2026 iadev. Todos los derechos reservados
      </span>
      
      <a 
        href="#start" 
        class="text-sm text-black/70 hover:text-black dark:text-white/70 dark:hover:text-white transition-colors"
      >
        Contacto
      </a>
    </div>
  </Container>
</footer> 