---
import ProjectCard from './ProjectCard.astro'
import Html from '../icons/Html.astro'
import Css from '../icons/Css.astro'
import TypeScript from '../icons/TypeScript.astro'
import Tailwind from '../icons/Tailwind.astro'
import React from '../icons/React.astro'
import Java from '../icons/Java.astro'

const PROJECTS = [
  {
    title: 'Arapaima',
    description: 'Un portal web interactivo dedicado a promover la conservación del agua y la conciencia cultural en la región de Guayana, con recursos educativos y herramientas de participación comunitaria.',
    image: '/Arapaima.jpg',
    liveUrl: 'https://ihc-arapaima.vercel.app/',
    codeUrl: 'https://github.com/iadev2005/IHC-Arapaima',
    technologies: [
      {
        icon: Html,
        name: 'HTML'
      },
      {
        icon: Css,
        name: 'CSS'
      },
      {
        icon: TypeScript,
        name: 'TypeScript'
      },
      {
        icon: Tailwind,
        name: 'Tailwind'
      },
      {
        icon: React,
        name: 'React'
      }
    ]
  },
  {
    title: 'Ecocrossing',
    description: 'Un juego de simulación multijugador inspirado en Animal Crossing, con interacciones en tiempo real a través de tecnología WebSocket y patrones de diseño orientado a objetos.',
    image: '/Ecocrossing.jpg',
    liveUrl: '',
    codeUrl: 'https://github.com/iadev2005/EcoCrossing',
    technologies: [
      {
        icon: Java,
        name: 'Java'
      }
    ]
  },
  {
    title: 'Econotify',
    description: 'Una aplicación web moderna que muestra paradigmas de programación avanzados, incluyendo programación orientada a aspectos, operaciones asíncronas y arquitectura dirigida por eventos.',
    image: '/Econotify.jpg',
    liveUrl: 'https://econotificaciones.vercel.app/',
    codeUrl: 'https://github.com/iadev2005/Econotificaciones',
    technologies: [
      {
        icon: Html,
        name: 'HTML'
      },
      {
        icon: Css,
        name: 'CSS'
      },
      {
        icon: TypeScript,
        name: 'TypeScript'
      },
      {
        icon: Tailwind,
        name: 'Tailwind'
      },
      {
        icon: React,
        name: 'React'
      }
    ]
  }
]
---

<div class="flex flex-col gap-y-24">
  {
    PROJECTS.map(project => (
      <ProjectCard {...project} />
    ))
  }
</div> 